lib/fedex/wsdl/dev_ReturnTagService_v1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://fedex.com/ws/returntag/v1" xmlns:s1="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://fedex.com/ws/returntag/v1" name="ReturnTagServiceDefinitions">
  <types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://fedex.com/ws/returntag/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="ProcessExpressTagRequest" type="ns:ProcessExpressTagRequest"/>
      <xs:element name="ProcessExpressTagReply" type="ns:ProcessExpressTagReply"/>
      <xs:element name="CancelExpressTagRequest" type="ns:CancelExpressTagRequest"/>
      <xs:element name="CancelExpressTagReply" type="ns:CancelExpressTagReply"/>
      <xs:element name="ExpressTagAvailabilityRequest" type="ns:ExpressTagAvailabilityRequest"/>
      <xs:element name="ExpressTagAvailabilityReply" type="ns:ExpressTagAvailabilityReply"/>
      <xs:element name="ProcessGroundCallTagRequest" type="ns:ProcessGroundCallTagRequest"/>
      <xs:element name="ProcessGroundCallTagReply" type="ns:ProcessGroundCallTagReply"/>
      <xs:element name="CancelGroundCallTagRequest" type="ns:CancelGroundCallTagRequest"/>
      <xs:element name="CancelGroundCallTagReply" type="ns:CancelGroundCallTagReply"/>
      <xs:complexType name="ProcessExpressTagRequest">
        <xs:annotation>
          <xs:documentation>Request FedEx Express package pick up without any labels (labels will be provided by FedEx courier).</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="WebAuthenticationDetail" type="ns:WebAuthenticationDetail" minOccurs="1">
            <xs:annotation>
              <xs:documentation>The descriptive data to be used in authentication of the sender's identity (and right to use FedEx web services).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ClientDetail" type="ns:ClientDetail">
            <xs:annotation>
              <xs:documentation>The descriptive data identifying the client submitting the transaction.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TransactionDetail" type="ns:TransactionDetail" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The descriptive data for this customer transaction. The TransactionDetail from the request is echoed back to the caller in the corresponding reply.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Version" type="ns:VersionId" minOccurs="1">
            <xs:annotation>
              <xs:documentation>Identifies the version/level of a service operation expected by a caller (in each request) and performed by the callee (in each reply).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ReadyDateTime" type="xs:dateTime">
            <xs:annotation>
              <xs:documentation>Package ready date and time.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="LatestPickupTime" type="xs:time">
            <xs:annotation>
              <xs:documentation>Business Close Time / Latest Pickup Time</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Service" type="ns:ServiceType">
            <xs:annotation>
              <xs:documentation>Service type.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Packaging" type="ns:PackagingType">
            <xs:annotation>
              <xs:documentation>Packaging type.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Origin" type="ns:ContactAndAddress">
            <xs:annotation>
              <xs:documentation>Actual origin address and contact information</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Destination" type="ns:ContactAndAddress">
            <xs:annotation>
              <xs:documentation>Destination address and contact information.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Payment" type="ns:Payment">
            <xs:annotation>
              <xs:documentation>Payment details.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Rma" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>RMA number.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CourierInstructions" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Courier Remarks/Pickup Instructions.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomerReference" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Reference Information.</xs:documentation>
              <xs:appinfo>
                <MaxLength>30</MaxLength>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="InsuredValue" type="ns:Money" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Insured value of entire shipment.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Weight" type="ns:Weight">
            <xs:annotation>
              <xs:documentation>Weight details. </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PackageCount">
            <xs:annotation>
              <xs:documentation>Package Total (Total Number of Pieces).</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:nonNegativeInteger"/>
            </xs:simpleType>
          </xs:element>
          <xs:element name="HoldAtLocation" type="xs:boolean" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Hold at location flag.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SaturdayDelivery" type="xs:boolean" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Saturday delivery flag.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SignatureOption" type="ns:SignatureOptionType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Signature option details.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="WebAuthenticationDetail">
        <xs:annotation>
          <xs:documentation>Used in authentication of the sender's identity.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="UserCredential" type="ns:WebAuthenticationCredential" minOccurs="1">
            <xs:annotation>
              <xs:documentation>Credential used to authenticate a specific software application. This value is provided by FedEx after registration.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="WebAuthenticationCredential">
        <xs:annotation>
          <xs:documentation>Two part authentication string used for the sender's identity.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="Key" type="xs:string" minOccurs="1">
            <xs:annotation>
              <xs:documentation>Identifying part of the authentication key. This value is provided by FedEx after registration.</xs:documentation>
              <xs:appinfo>
                <MaxLength>16</MaxLength>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="Password" type="xs:string" minOccurs="1">
            <xs:annotation>
              <xs:documentation>Secret part of authentication key used for authentication. This value is provided by FedEx after registration.</xs:documentation>
              <xs:appinfo>
                <MaxLength>25</MaxLength>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ClientDetail">
        <xs:annotation>
          <xs:documentation>The descriptive data identifying the client submitting the transaction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="AccountNumber" type="xs:string">
            <xs:annotation>
              <xs:documentation>Identifies the FedEx account number assigned to the customer.</xs:documentation>
              <xs:appinfo>
                <MaxLength>12</MaxLength>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="MeterNumber" type="xs:string">
            <xs:annotation>
              <xs:documentation>Identifies the unique client device submitting the request. </xs:documentation>
              <xs:appinfo>
                <MaxLength>10</MaxLength>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="Localization" type="ns:Localization" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Governs any future language/translations used for human-readable Notification.localizedMessages in responses to the request containing this ClientDetail object. Different requests from the same client may contain different Localization data. (Contrast with TransactionDetail.localization, which governs data payload language/translation.)</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TransactionDetail">
        <xs:annotation>
          <xs:documentation>The descriptive data that governs data payload language/translations.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="CustomerTransactionId" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Identifies a customer-supplied unique identifier for this transaction. It is returned in the reply message to aid in matching requests to replies.</xs:documentation>
              <xs:appinfo>
                <MaxLength>40</MaxLength>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="Localization" type="ns:Localization" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Governs any future language/translations applied to the data payload (contrasted with ClientDetail.localization, which governs Notification.localizedMessage language selection).</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Localization">
        <xs:annotation>
          <xs:documentation>The descriptive data for the local language and locale (i.e. country).</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="LanguageCode" type="xs:string">
            <xs:annotation>
              <xs:documentation>Identifies the language to use for human-readable messages.</xs:documentation>
              <xs:appinfo>
                <MaxLength>2</MaxLength>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="LocaleCode" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Identifies the locale (i.e.  country code).</xs:documentation>
              <xs:appinfo>
                <MaxLength>2</MaxLength>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="VersionId">
        <xs:annotation>
          <xs:documentation>The descriptive data regarding the version/level of a service operation performed by the callee (in each reply).</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="ServiceId" type="xs:string" minOccurs="1" fixed="wsi">
            <xs:annotation>
              <xs:documentation>Identifies a system or sub-system which performs an operation.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Major" type="xs:int" minOccurs="1" fixed="1">
            <xs:annotation>
              <xs:documentation>Identifies the service business level.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Intermediate" type="xs:int" minOccurs="1" fixed="0">
            <xs:annotation>
              <xs:documentation>Identifies the service interface level.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Minor" type="xs:int" minOccurs="1" fixed="0">
            <xs:annotation>
              <xs:documentation>Identifies the service code level.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="ServiceType">
        <xs:annotation>
          <xs:documentation>Identifies the FedEx service to use in shipping the package. See ServiceType for list of valid enumerated values.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="EUROPE_FIRST_INTERNATIONAL_PRIORITY"/>
          <xs:enumeration value="FEDEX_1_DAY_FREIGHT"/>
          <xs:enumeration value="FEDEX_2_DAY"/>
          <xs:enumeration value="FEDEX_2_DAY_FREIGHT"/>
          <xs:enumeration value="FEDEX_3_DAY_FREIGHT"/>
          <xs:enumeration value="FEDEX_EXPRESS_SAVER"/>
          <xs:enumeration value="FEDEX_GROUND"/>
          <xs:enumeration value="FIRST_OVERNIGHT"/>
          <xs:enumeration value="GROUND_HOME_DELIVERY"/>
          <xs:enumeration value="INTERNATIONAL_DISTRIBUTION_FREIGHT"/>
          <xs:enumeration value="INTERNATIONAL_ECONOMY"/>
          <xs:enumeration value="INTERNATIONAL_ECONOMY_DISTRIBUTION"/>
          <xs:enumeration value="INTERNATIONAL_ECONOMY_FREIGHT"/>
          <xs:enumeration value="INTERNATIONAL_FIRST"/>
          <xs:enumeration value="INTERNATIONAL_PRIORITY"/>
          <xs:enumeration value="INTERNATIONAL_PRIORITY_DISTRIBUTION"/>
          <xs:enumeration value="INTERNATIONAL_PRIORITY_FREIGHT"/>
          <xs:enumeration value="INTERNATIONAL_PRIORITY_PLUS"/>
          <xs:enumeration value="PRIORITY_OVERNIGHT"/>
          <xs:enumeration value="STANDARD_OVERNIGHT"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="PackagingType">
        <xs:annotation>
          <xs:documentation>Identifies the packaging used by the requestor for the package. See PackagingType for list of valid enumerated values.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="FEDEX_10KG_BOX"/>
          <xs:enumeration value="FEDEX_25KG_BOX"/>
          <xs:enumeration value="FEDEX_BOX"/>
          <xs:enumeration value="FEDEX_ENVELOPE"/>
          <xs:enumeration value="FEDEX_PAK"/>
          <xs:enumeration value="FEDEX_TUBE"/>
          <xs:enumeration value="YOUR_PACKAGING"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="ContactAndAddress">
        <xs:sequence>
          <xs:element name="Contact" type="ns:Contact">
            <xs:annotation>
              <xs:documentation>Contact details.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Address" type="ns:Address" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Address details.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Contact">
        <xs:sequence>
          <xs:element name="PersonName" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Name of person.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Title" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Title used by contact.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CompanyName" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Company name.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Department" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Department name.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PhoneNumber" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Phone number of contact.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PhoneExtension" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Phone extension of contact.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PagerNumber" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Pager number of contact.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="FaxNumber" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Fax number of contact.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EMailAddress" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Email address of contact.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Address">
        <xs:annotation>
          <xs:documentation>The descriptive data for a physical location. </xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="StreetLines" type="xs:string" maxOccurs="2">
            <xs:annotation>
              <xs:documentation>Combination of number, street name, etc. At least one line is required for a valid physical address; empty lines should not be included.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="City" type="xs:string">
            <xs:annotation>
              <xs:documentation>Name of city, town, etc. </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="StateOrProvinceCode" type="xs:string">
            <xs:annotation>
              <xs:documentation>Identifying abbreviation for US state, Canada province, etc. Format and presence of this field will vary, depending on country.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PostalCode" type="xs:string">
            <xs:annotation>
              <xs:documentation>Identification of a region (usually small) for mail/package delivery. Format and presence of this field will vary, depending on country. First five characters will be accepted. </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="UrbanizationCode" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Relevant only to addresses in Puerto Rico. In Puerto Rico, multiple addresses within the same ZIP code can have the same house number and street name. When this is the case, the urbanization code is needed to distinguish them.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CountryCode" type="xs:string">
            <xs:annotation>
              <xs:documentation>Identification of a country.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Residential" type="xs:boolean" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Indicates whether this address is residential (as opposed to commercial).</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Payment">
        <xs:annotation>
          <xs:documentation>The descriptive data for the monetary compensation given to FedEx for services rendered to the customer.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="PaymentType" type="ns:PaymentType">
            <xs:annotation>
              <xs:documentation>Identifies the method of payment for a service. See PaymentType for list of valid enumerated values.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Payor" type="ns:Payor" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Descriptive data identifying the party responsible for payment for a service.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CreditCard" type="ns:CreditCard" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Descriptive data identifying the payor's credit card information.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="PaymentType">
        <xs:annotation>
          <xs:documentation>Identifies the method of payment for a service.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="CASH"/>
          <xs:enumeration value="COLLECT"/>
          <xs:enumeration value="CREDIT_CARD"/>
          <xs:enumeration value="RECIPIENT"/>
          <xs:enumeration value="SENDER"/>
          <xs:enumeration value="THIRD_PARTY"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="Payor">
        <xs:annotation>
          <xs:documentation>The descriptive data identifying the party responsible for payment for a service.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="AccountNumber" type="xs:string">
            <xs:annotation>
              <xs:documentation>Identifies the FedEx account number assigned to the payor.</xs:documentation>
              <xs:appinfo>
                <MaxLength>12</MaxLength>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="CountryCode" type="xs:string">
            <xs:annotation>
              <xs:documentation>Identifies the country of the payor.</xs:documentation>
              <xs:appinfo>
                <MaxLength>2</MaxLength>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CreditCard">
        <xs:annotation>
          <xs:documentation>The descriptive data for a card issued by a bank or business allowing the holder to purchase goods and services on credit.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="Number" type="xs:string">
            <xs:annotation>
              <xs:documentation>Identifies the credit card number.</xs:documentation>
              <xs:appinfo>
                <MaxLength>19</MaxLength>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="CreditCardType" type="ns:CreditCardType">
            <xs:annotation>
              <xs:documentation>Identifies the specific type of credit card.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExpirationDate" type="xs:string">
            <xs:annotation>
              <xs:documentation>Identifies the credit card expiration date.</xs:documentation>
              <xs:appinfo>
                <MaxLength>4</MaxLength>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="VerificationCode" type="xs:string">
            <xs:annotation>
              <xs:documentation>Identifies the credit card verification code.</xs:documentation>
              <xs:appinfo>
                <MaxLength>4</MaxLength>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="CreditCardType">
        <xs:annotation>
          <xs:documentation>Identifies the available types of credit cards accepted by FedEx as payment for services.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="AMEX"/>
          <xs:enumeration value="DINERS"/>
          <xs:enumeration value="DISCOVER"/>
          <xs:enumeration value="MASTERCARD"/>
          <xs:enumeration value="VISA"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="Money">
        <xs:annotation>
          <xs:documentation>The descriptive data for the medium of exchange for FedEx services.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="Currency" type="xs:string">
            <xs:annotation>
              <xs:documentation>Identifies the currency of the monetary amount.</xs:documentation>
              <xs:appinfo>
                <MaxLength>3</MaxLength>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="Amount">
            <xs:annotation>
              <xs:documentation>Identifies the monetary amount.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:decimal">
                <xs:minInclusive value="0"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Weight">
        <xs:annotation>
          <xs:documentation>The descriptive data for the heaviness of an object.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="Units" type="ns:WeightUnits">
            <xs:annotation>
              <xs:documentation>Identifies the unit of measure associated with a weight value. See WeightUnits for the list of valid enumerated values.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Value">
            <xs:annotation>
              <xs:documentation>Identifies the weight value of the package/shipment. Contains 1 explicit decimal position</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:decimal">
                <xs:minInclusive value="0"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="WeightUnits">
        <xs:annotation>
          <xs:documentation>Identifies the unit of measure associated with a weight value. See the list of enumerated types for valid values.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="KG"/>
          <xs:enumeration value="LB"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="SignatureOptionType">
        <xs:annotation>
          <xs:documentation>Identifies the delivery signature services options offered by FedEx.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="ADULT"/>
          <xs:enumeration value="DIRECT"/>
          <xs:enumeration value="INDIRECT"/>
          <xs:enumeration value="NO_SIGNATURE_REQUIRED"/>
          <xs:enumeration value="SERVICE_DEFAULT"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="ProcessExpressTagReply">
        <xs:annotation>
          <xs:documentation>FedEx Express Tag reply.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="HighestSeverity" type="ns:NotificationSeverityType">
            <xs:annotation>
              <xs:documentation>Identifies the highest severity encountered when executing the request; in order from high to low: FAILURE, ERROR, WARNING, NOTE, SUCCESS.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Notifications" type="ns:Notification" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>The descriptive data detailing the status of a sumbitted transaction.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TransactionDetail" type="ns:TransactionDetail" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Descriptive data that governs data payload language/translations.  The TransactionDetail from the request is echoed back to the caller in the corresponding reply.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Version" type="ns:VersionId" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Identifies the version/level of a service operation expected by a caller (in each request) and performed by the callee (in each reply).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ConfirmationNumber" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Also known as Pickup Confirmation Number or Dispatch Number</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AccessTime" type="xs:time" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The latest time at which the package must become available for pickup; the earliest that the courier will show up for the packages</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CutoffTime" type="xs:time" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The earliest time at which the package can become unavailable for pickup; the latest that the courier will show up for the packages</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Location" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The dispatch location when dispatch is requested.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DeliveryCommittment" type="xs:dateTime" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The date and time by which FedEx commits to deliver the package to the recipient if it is tendered on the Dispatch date and time.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TrackingNumber" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Package tracking number.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Notification">
        <xs:annotation>
          <xs:documentation>The descriptive data regarding the results of the submitted transaction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="Severity" type="ns:NotificationSeverityType">
            <xs:annotation>
              <xs:documentation>Identifies the severity of the Notification item. See NotificationSeverityType for list of returned values.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Source" type="xs:string">
            <xs:annotation>
              <xs:documentation>Identifies the source - what FedEx system, sub-system, or component generated the Notification item.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Code" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Identifies the error code generated by the FedEx system, sub-system or component.</xs:documentation>
              <xs:appinfo>
                <MaxLength>8</MaxLength>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="Message" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Identifies the error message text.</xs:documentation>
              <xs:appinfo>
                <MaxLength>255</MaxLength>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="LocalizedMessage" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Identifies the error message text in the localization requested. Currently not supported.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="MessageParameters" type="ns:NotificationParameter" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Used internally by FedEx systems for message translation.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="NotificationParameter">
        <xs:sequence>
          <xs:element name="Id" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Name identifiying the type of the data in the element 'Value'</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Value" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The value that was used as the replacement parameter.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="NotificationSeverityType">
        <xs:annotation>
          <xs:documentation>Identifies the set of severity values for a Notification.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="ERROR"/>
          <xs:enumeration value="FAILURE"/>
          <xs:enumeration value="NOTE"/>
          <xs:enumeration value="SUCCESS"/>
          <xs:enumeration value="WARNING"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="CancelExpressTagRequest">
        <xs:annotation>
          <xs:documentation>FedEx Cancel Express Tag request.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="WebAuthenticationDetail" type="ns:WebAuthenticationDetail" minOccurs="1">
            <xs:annotation>
              <xs:documentation>The descriptive data to be used in authentication of the sender's identity (and right to use FedEx web services).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ClientDetail" type="ns:ClientDetail">
            <xs:annotation>
              <xs:documentation>The descriptive data identifying the client submitting the transaction.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TransactionDetail" type="ns:TransactionDetail" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The descriptive data for this customer transaction. The TransactionDetail from the request is echoed back to the caller in the corresponding reply.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Version" type="ns:VersionId" minOccurs="1">
            <xs:annotation>
              <xs:documentation>Identifies the version/level of a service operation expected by a caller (in each request) and performed by the callee (in each reply).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DispatchLocationId" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Express Location Identifier.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DispatchDate" type="xs:date" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The date FedEx will attempt to pick up the shipment from the Sender.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ConfirmationNumber" type="xs:string">
            <xs:annotation>
              <xs:documentation>Also known as Pickup Confirmation Number or Dispatch Number</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CancelExpressTagReply">
        <xs:annotation>
          <xs:documentation>FedEx Cancel Express Tag reply.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="HighestSeverity" type="ns:NotificationSeverityType">
            <xs:annotation>
              <xs:documentation>Identifies the highest severity encountered when executing the request; in order from high to low: FAILURE, ERROR, WARNING, NOTE, SUCCESS.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Notifications" type="ns:Notification" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>The descriptive data detailing the status of a sumbitted transaction.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TransactionDetail" type="ns:TransactionDetail" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Descriptive data that governs data payload language/translations.  The TransactionDetail from the request is echoed back to the caller in the corresponding reply.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Version" type="ns:VersionId" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Identifies the version/level of a service operation expected by a caller (in each request) and performed by the callee (in each reply).</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ExpressTagAvailabilityRequest">
        <xs:annotation>
          <xs:documentation>FedEx Express Tag Availability request.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="WebAuthenticationDetail" type="ns:WebAuthenticationDetail" minOccurs="1">
            <xs:annotation>
              <xs:documentation>The descriptive data to be used in authentication of the sender's identity (and right to use FedEx web services).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ClientDetail" type="ns:ClientDetail">
            <xs:annotation>
              <xs:documentation>The descriptive data identifying the client submitting the transaction.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TransactionDetail" type="ns:TransactionDetail" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The descriptive data for this customer transaction. The TransactionDetail from the request is echoed back to the caller in the corresponding reply.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Version" type="ns:VersionId" minOccurs="1">
            <xs:annotation>
              <xs:documentation>Identifies the version/level of a service operation expected by a caller (in each request) and performed by the callee (in each reply).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ReadyDateTime" type="xs:dateTime">
            <xs:annotation>
              <xs:documentation>Package ready date and time.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OriginAddress" type="ns:Address">
            <xs:annotation>
              <xs:documentation>Sender postal code and country.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Service" type="ns:ServiceType">
            <xs:annotation>
              <xs:documentation>FedEx Service type.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Packaging" type="ns:PackagingType">
            <xs:annotation>
              <xs:documentation>FedEx Packaging type.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ExpressTagAvailabilityReply">
        <xs:annotation>
          <xs:documentation>FedEx Express Tag Availability reply.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="HighestSeverity" type="ns:NotificationSeverityType">
            <xs:annotation>
              <xs:documentation>Identifies the highest severity encountered when executing the request; in order from high to low: FAILURE, ERROR, WARNING, NOTE, SUCCESS.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Notifications" type="ns:Notification" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>The descriptive data detailing the status of a sumbitted transaction.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TransactionDetail" type="ns:TransactionDetail" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Descriptive data that governs data payload language/translations.  The TransactionDetail from the request is echoed back to the caller in the corresponding reply.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Version" type="ns:VersionId" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Identifies the version/level of a service operation expected by a caller (in each request) and performed by the callee (in each reply).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AccessTime" type="xs:time" minOccurs="0">
            <xs:annotation>
              <xs:documentation>This is the minimum time window that must be allocated for the FedEx courier to make the pickup. This is a length of time. The difference between the Business close time, (or the local Cutoff time if it is earlier than  the Business Close time), and the Ready Time must be equal to or exceed the access time.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ReadyTime" type="xs:time" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Latest time a FedEx courier will be available to pick up the package from the Sender.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Availability" type="ns:ExpressTagAvailabilityType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Indicates the Express Tag Service availability at the sender postal code indicated in the request.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="ExpressTagAvailabilityType">
        <xs:annotation>
          <xs:documentation>Identifies the Express Tag Service availability.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="NEXT_DAY_AVAILABLE"/>
          <xs:enumeration value="SAME_DAY_AND_NEXT_DAY_AVAILABLE"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="ProcessGroundCallTagRequest">
        <xs:annotation>
          <xs:documentation>FedEx Ground Call Tag request.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="WebAuthenticationDetail" type="ns:WebAuthenticationDetail" minOccurs="1">
            <xs:annotation>
              <xs:documentation>The descriptive data to be used in authentication of the sender's identity (and right to use FedEx web services).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ClientDetail" type="ns:ClientDetail">
            <xs:annotation>
              <xs:documentation>The descriptive data identifying the client submitting the transaction.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TransactionDetail" type="ns:TransactionDetail" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The descriptive data for this customer transaction. The TransactionDetail from the request is echoed back to the caller in the corresponding reply.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Version" type="ns:VersionId" minOccurs="1">
            <xs:annotation>
              <xs:documentation>Identifies the version/level of a service operation expected by a caller (in each request) and performed by the callee (in each reply).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ReadyDateTime" type="xs:dateTime" minOccurs="0">
            <xs:annotation>
              <xs:documentation>This field should contain the earliest date and time the package will be ready for pickup.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="LatestPickupTime" type="xs:time" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Required for Commercial/Business pickup locations. Field not Applicable for Residential pickup locations. This field should contain the latest time the package can be picked up for the pickup date requested. </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Origin" type="ns:ContactAndAddress" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Acutal origin and contact details.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Destination" type="ns:ContactAndAddress" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Destination details.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Payment" type="ns:Payment" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Payment details</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Rma" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>RMA number.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CourierInstructions" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Instructions to courier.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomerReference" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Customer reference information.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Packages" type="ns:FDXGroundCallTagPackage" minOccurs="1" maxOccurs="99">
            <xs:annotation>
              <xs:documentation>Package-specific information. Currently supports a maximum of 99 packages.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="FDXGroundCallTagPackage">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="InsuredValue" type="ns:Money" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Insured value.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ItemDescription" type="xs:string">
            <xs:annotation>
              <xs:documentation>Item Description</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ProcessGroundCallTagReply">
        <xs:annotation>
          <xs:documentation>FedEx Ground Call Tag reply.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="HighestSeverity" type="ns:NotificationSeverityType">
            <xs:annotation>
              <xs:documentation>Identifies the highest severity encountered when executing the request; in order from high to low: FAILURE, ERROR, WARNING, NOTE, SUCCESS.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Notifications" type="ns:Notification" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>The descriptive data detailing the status of a sumbitted transaction.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TransactionDetail" type="ns:TransactionDetail" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Descriptive data that governs data payload language/translations.  The TransactionDetail from the request is echoed back to the caller in the corresponding reply.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Version" type="ns:VersionId" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Identifies the version/level of a service operation expected by a caller (in each request) and performed by the callee (in each reply).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ConfirmationNumber" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Also known as Pickup Confirmation Number or Dispatch Number</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TrackingNumbers" type="xs:string" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Tracking Number. Currently supports a maximum of 99 occurrences.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CancelGroundCallTagRequest">
        <xs:annotation>
          <xs:documentation>FedEx Cancel Ground Call Tag request.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="WebAuthenticationDetail" type="ns:WebAuthenticationDetail" minOccurs="1">
            <xs:annotation>
              <xs:documentation>The descriptive data to be used in authentication of the sender's identity (and right to use FedEx web services).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ClientDetail" type="ns:ClientDetail">
            <xs:annotation>
              <xs:documentation>The descriptive data identifying the client submitting the transaction.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TransactionDetail" type="ns:TransactionDetail" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The descriptive data for this customer transaction. The TransactionDetail from the request is echoed back to the caller in the corresponding reply.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Version" type="ns:VersionId" minOccurs="1">
            <xs:annotation>
              <xs:documentation>Identifies the version/level of a service operation expected by a caller (in each request) and performed by the callee (in each reply).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ConfirmationNumber" type="xs:string">
            <xs:annotation>
              <xs:documentation>Also known as Pickup Confirmation Number or Dispatch Number.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CancelGroundCallTagReply">
        <xs:annotation>
          <xs:documentation>FedEx Cancel Ground Call Tag reply.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="HighestSeverity" type="ns:NotificationSeverityType">
            <xs:annotation>
              <xs:documentation>Identifies the highest severity encountered when executing the request; in order from high to low: FAILURE, ERROR, WARNING, NOTE, SUCCESS.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Notifications" type="ns:Notification" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>The descriptive data detailing the status of a sumbitted transaction.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TransactionDetail" type="ns:TransactionDetail" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Descriptive data that governs data payload language/translations.  The TransactionDetail from the request is echoed back to the caller in the corresponding reply.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Version" type="ns:VersionId" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Identifies the version/level of a service operation expected by a caller (in each request) and performed by the callee (in each reply).</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="ProcessExpressTagRequest">
    <part name="ProcessExpressTagRequest" element="ns:ProcessExpressTagRequest"/>
  </message>
  <message name="ProcessExpressTagReply">
    <part name="ProcessExpressTagReply" element="ns:ProcessExpressTagReply"/>
  </message>
  <message name="CancelExpressTagRequest">
    <part name="CancelExpressTagRequest" element="ns:CancelExpressTagRequest"/>
  </message>
  <message name="CancelExpressTagReply">
    <part name="CancelExpressTagReply" element="ns:CancelExpressTagReply"/>
  </message>
  <message name="ExpressTagAvailabilityRequest">
    <part name="ExpressTagAvailabilityRequest" element="ns:ExpressTagAvailabilityRequest"/>
  </message>
  <message name="ExpressTagAvailabilityReply">
    <part name="ExpressTagAvailabilityReply" element="ns:ExpressTagAvailabilityReply"/>
  </message>
  <message name="ProcessGroundCallTagRequest">
    <part name="ProcessGroundCallTagRequest" element="ns:ProcessGroundCallTagRequest"/>
  </message>
  <message name="ProcessGroundCallTagReply">
    <part name="ProcessGroundCallTagReply" element="ns:ProcessGroundCallTagReply"/>
  </message>
  <message name="CancelGroundCallTagRequest">
    <part name="CancelGroundCallTagRequest" element="ns:CancelGroundCallTagRequest"/>
  </message>
  <message name="CancelGroundCallTagReply">
    <part name="CancelGroundCallTagReply" element="ns:CancelGroundCallTagReply"/>
  </message>
  <portType name="ReturnTagPortType">
    <operation name="processExpressTag" parameterOrder="ProcessExpressTagRequest">
      <input message="ns:ProcessExpressTagRequest"/>
      <output message="ns:ProcessExpressTagReply"/>
    </operation>
    <operation name="cancelExpressTag" parameterOrder="CancelExpressTagRequest">
      <input message="ns:CancelExpressTagRequest"/>
      <output message="ns:CancelExpressTagReply"/>
    </operation>
    <operation name="getExpressTagAvailability" parameterOrder="ExpressTagAvailabilityRequest">
      <input message="ns:ExpressTagAvailabilityRequest"/>
      <output message="ns:ExpressTagAvailabilityReply"/>
    </operation>
    <operation name="processGroundCallTag" parameterOrder="ProcessGroundCallTagRequest">
      <input message="ns:ProcessGroundCallTagRequest"/>
      <output message="ns:ProcessGroundCallTagReply"/>
    </operation>
    <operation name="cancelGroundCallTag" parameterOrder="CancelGroundCallTagRequest">
      <input message="ns:CancelGroundCallTagRequest"/>
      <output message="ns:CancelGroundCallTagReply"/>
    </operation>
  </portType>
  <binding name="ReturnTagServiceSoapBinding" type="ns:ReturnTagPortType">
    <s1:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="processExpressTag">
      <s1:operation soapAction="processExpressTag" style="document"/>
      <input>
        <s1:body use="literal"/>
      </input>
      <output>
        <s1:body use="literal"/>
      </output>
    </operation>
    <operation name="cancelExpressTag">
      <s1:operation soapAction="cancelExpressTag" style="document"/>
      <input>
        <s1:body use="literal"/>
      </input>
      <output>
        <s1:body use="literal"/>
      </output>
    </operation>
    <operation name="getExpressTagAvailability">
      <s1:operation soapAction="getExpressTagAvailability" style="document"/>
      <input>
        <s1:body use="literal"/>
      </input>
      <output>
        <s1:body use="literal"/>
      </output>
    </operation>
    <operation name="processGroundCallTag">
      <s1:operation soapAction="processGroundCallTag" style="document"/>
      <input>
        <s1:body use="literal"/>
      </input>
      <output>
        <s1:body use="literal"/>
      </output>
    </operation>
    <operation name="cancelGroundCallTag">
      <s1:operation soapAction="cancelGroundCallTag" style="document"/>
      <input>
        <s1:body use="literal"/>
      </input>
      <output>
        <s1:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="ReturnTagService">
    <port name="ReturnTagServicePort" binding="ns:ReturnTagServiceSoapBinding">
      <s1:address location="https://gatewaybeta.fedex.com:443/web-services"/>
    </port>
  </service>
</definitions>
